<div class="footer_common">
    <div class="layout">
    <div class="link">
        <h6>友情链接</h6>
        <div>
            <a href=""><span>财经网</span><span>|</span></a>
            <a href=""><span>财经网</span><span>|</span></a>
            <a href=""><span>财经网</span><span>|</span></a>
            <a href=""><span>财经网</span></a>
            <a href=""><span>财经网</span><span>|</span></a>
            <a href=""><span>财经网</span></a>
        </div>
    </div>
    <div class="message">
        <h6>备案信息</h6>
        <p>财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网财经网</p>
    </div>
    <div class="service">
        <h6>客服信息</h6>
        <span>

                服务时间：08:00-18:30 <br>
                服务电话：020-25648523
                                        
        </span>
        <span></span>
    </div>
</div>
</div>